version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: flight-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./server
    container_name: flight-backend
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - ./server/.env
    depends_on:
      - mongo
    command: sh -c "node seed/seedFlights.js && node server.js"

  frontend:
    build: ./client
    container_name: flight-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
